*{
    margin: 0;
    padding: 0;
}

#cabecalho-menu{
    width: 100%;
    height: 120px;
    background-color: #160029;
}

#search{
    color: white;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 86%;
    margin-right: 3%;
}

.fa-search, .fa-bars, .fa-user{
    color: white;
}